---
import ContainerBlur from "../layouts/containerblur.astro";
import Foot from "../components/foot.astro";
import Pagelogo from "../components/pagelogo.astro";
import Sidebar from "../components/sidebar.astro";
import Head from "../components/head.astro";
import RandomizerContainerHidden from "../components/RandomizerContainerHidden.astro";
---

<html lang="en" data-bs-theme="dark" class="spaceBG">
  <Head />
  <Sidebar />
  <div class="container-fluid z-n1 position-absolute">
    <Pagelogo />
    <div class="container">
      <helloarea>
        <ContainerBlur>
          <p
            class="hello text-center margin-negative-for-main-text m-0 mb-n mt-n"
          >
            hey
          </p>
          <p
            class="text-center margin-negative-for-main-text fs-5 mb-n runguszone"
          >
            welcome to the <span style="color:#69f0ae">r</span>ungus zo- wait
            what?
          </p>
        </ContainerBlur>
      </helloarea>
      <maincontent>
        <ContainerBlur>
          <div class="align-content-center">
            <div class="text-center">
              <p class="fs-1 runguszone mb-n mt-n">where are you?</p>
              <p class="mb-1">
                welcome to rungul.us a place where im going to have a site to do
                idk
              </p>
              <!-- <p>
                My favorite is probably <a
                  class="alert-link"
                  id="placeholder"
                  data-bs-toggle="collapse"
                  href="#randomizerwindow"
                  role="button"
                  aria-expanded="false"
                  aria-controls="randomizerShow">the randomizer</a
                >, but I've made other dumb things.
              </p>
              <RandomizerContainerHidden /> -->
              <hr />
              <p class="fs-2 runguszone mb-n">cool?</p>
              <p class="mb-1">
                yeah it's neat i guess! right now i'm using this site to learn
                astro, which is why it looks like rungus.zone
              </p>
              <hr />
              <p class="fs-3 runguszone mb-n">this isn't exciting</p>
              <p>yeah get out:</p>
              <a
                class="fs-3 runguszone mb-3 text-center text-decoration-none"
                href="https://en.wikipedia.org/wiki/Content_delivery_network"
              >
                <span
                  class="fs-4 badge bg-primary rounded-pill text-center text-decoration-underline pb-1"
                  >return to rungus.zone</span
                >
              </a>
            </div>
            <!-- although, im not really sold on this at all honestly. its just a bunch of text in line. there's gotta be a cooler way to show this? -->
          </div>
        </ContainerBlur>
      </maincontent>
    </div>
    <Foot />
  </div>
</html>
