---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="rungul.us">
	<main>
		<h1 style="height:50%;">Tell them to bring out the whole <span class="text-gradient">Ocean!!!</span></h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		/* width: 800px; */
		/*max-width: calc(100% - 2rem);*/
		color: white;
		font-size: 20px;
		line-height: 1.6;
		vertical-align: middle;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
