<div class="container alert frostedglass" style="color:azure;">
    <span class="runguszone" style="margin-bottom:-0.2rem;">
    <a href="https://rungus.zone/terms" class="alert-link">tos</a> - 
    <a href="https://cdn.rungus.zone" class="alert-link">cdn</a> 
    <span class="position-absolute top-50 start-50 translate-middle">
        <i class="bi bi-heart-fill"></i> 
        <i class="bi bi-github"></i> 
        <i class="bi bi-bootstrap"></i> 
        <i class="bi bi-google"></i></span>
    <span class="float-end">&copy; rungus</span><br></span>
</div>