---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="where am i" id="intro">
  <Fragment slot="lead">
    welcome to the website of a <span class="text-primary">mid-20s</span> failboy who makes silly things
    on the computer.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://twitter.com/rungulus"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:twitter" class="size-8" />
      <span>follow me</span>
    </a>
    <a
      href="https://github.com/rungulus"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:github" class="size-8" />
      <span>github me</span>
    </a>
  </div>
</ContentSection>
