 <div class="container">
      <!-- top of screen info, used for a welcome message and rungus zone yeah cool -->
      <div class="">
        <p class="text-center m-0"><span class="runguszone siteText"><span style="color:#69f0ae">r</span>ungu<span class="text-muted">l.u</span>s</span></span></p>        
      </div>
      <!-- can use this for announcements -->
      <announcement>
        <!-- <nocss class="nocss text-center mt-n">
          <p class="text-center mt-n mb-n2">seems like everything didn't load successfully<br>
            you should try refreshing</p>
        </nocss> -->
      </announcement>
      
  </div>