<ContentSection title="where am i" id="intro">
    <Fragment slot="lead">
      welcome to the website of a <span class="text-primary">mid-20s</span> failboy who makes silly things
      on the computer.
    </Fragment>
</ContentSection>